<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
<h1>Class: <%=indClass%></h1>
<hr>
<h2>Report individual: <%=indName%></h2>
<!--Form to reportIndividual-->
<form action="/api/view" method="post" id="individual">
    <% indProps.forEach(function(prop) { %>
        <% if (prop.type === "select") { %>
        <p>
            <%=prop.name%>:
            <select name="<%=prop.name%>" form="individual">
                <!--Add option of new-->
                <% if (prop.link !== "") { %>
                    <option value="<%=prop.link%>__New"> <%=prop.link%>__New</option>
                <% } else {} %>
                <!--Add existing ones-->
                <% prop.options.forEach(function(value) { %>
                    <option value="<%=value%>"> <%=value%></option>
                <% }); %>

            </select>

        </p>
        <% } else if (prop.type === "text") { %>
            <p><%=prop.name%>: <input type="text" name="<%=prop.name%>"> <%=prop.format%></p>
        <% } %>

    <% }); %>
    <hr>
    <p><input type="submit"></input></p>
    <hr>
</form>
<script>src="neoOntology.js"</script>
</body>
</html>