<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
<h1>Class: <%=indClass%></h1>
<hr>
<h2>Individual Report Form: </h2>
<h3>Individual Name: <%=indName%></h3>
<!--Form to reportIndividual-->
<!--/view/ontologies/:ontologyName/class/:className/individual/:individualName/input-->
<form action="/view/ontologies/<%=indOnt%>/class/<%=indClass%>/individual/<%=indName%>/input" method="post" id="individual">
    <% indProps.forEach(function(prop) { %>
        <% if (prop.propType === "select") { %>
        <p>
            <%=prop.propName%>:
            <select name="<%=prop.propName%>" form="individual">
                <!--Add option of none-->
                <option value=""> </option>
                <!--Add option of new-->
                <% if (prop.propLink !== "") { %>
                    <option value="__New"> New <%=prop.propLink%></option>
                <% } else {} %>
                <!--Add existing ones-->
                <% prop.propOptions.forEach(function(value) { %>
                    <option value="<%=value%>"> <%=value%></option>
                <% }); %>
            </select>
        </p>
        <% } else if (prop.propType === "text") { %>
            <p><%=prop.propName%>: <input type="text" name="<%=prop.propName%>"> <%=prop.propFormat%></p>
        <% } %>

    <% }); %>
    <hr>
    <p><input type="submit"></input></p>
    <hr>
</form>
<script>src="neoOntology.js"</script>
</body>
</html>