<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body>
<h1>Files available</h1>
<form action="/api/files/<%=result.fileType %>/upload" enctype="multipart/form-data" method="POST">
    <input type="file" name="file" />
    <input type="submit" value="Upload file"/>
</form>
<h2><%=result.fileType %></h2>
<% result.filesNames.forEach(function(value){ %>
<li><a href="/api/files/<%=result.fileType%>/<%=value%>"><%=value%></a></li>
<% }); %>
<script>src="neoOntology.js"</script>
</body>
</html>