<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body>
<% if (result["ontError"]) { %>
    <h1><%= result.ontError%></h1>
<% } else { %>
    <h1>Class: <%= result.ontClass.split("#")[1] %></h1>
    <form action="/view/ontologies/<%=result.ontClass.split("/").pop().split("#")[0]%>/class/<%=result.ontClass.split("#")[1]%>/input" method="get">
        <button>Report new instance</button>
    </form>
    <h2>Individual: <%= result.ontIndividual.split("#")[1] %></h2>
    <% result.ontProperties.forEach(function(value){ %>
        <% if (value.ontType.split("#")[1] === "ObjectProperty") { %>
            <li><%=value.ontName.split("#")[1] %>:
                <!--Link to individual-->
                <a href="/view/ontologies/<%=value.ontValue.split("/").pop().split("#")[0]%>/individual/<%=value.ontValue.split("#")[1]%>/properties">
                    <%=value.ontValue.split("#")[1]%></a>
            </li>
        <% } else if (value.ontType.split("#")[1] === "DatatypeProperty") { %>
            <% if (value.ontValue.split("/").pop().match(/\.(jpg|png|wav|mp4|obj|owl|dat|xml)$/)) { %>
                <!--Link to file-->
                <li><%= value.ontName.split("#")[1] %>: <a href="/api/files/<%=value.ontValue.split("/").pop().split(".")[1]%>/<%=value.ontValue.split("/").pop()%>"><%=value.ontValue.split("/").pop()%></a></li>
            <% } else { %>
                <li><%=value.ontName.split("#")[1] %>: <%=value.ontValue%></li>
            <% } %>
        <% } else { %>
            <li><%=value.ontName.split("#")[1] %>: <%=value.ontValue%></li>
        <% } %>
    <% }); %>
<% } %>
<script>src="neoOntology.js"</script>
</body>
</html>